body{

  background-color: #f4f6f6;
  font-family: monospace;
  color: rgb(49, 64, 74);
  padding: 0;
  margin: 0;

}

nav {
  display: flex;
  background: #f4f6f6;
  justify-content: center;
  .logo{
      display:flex;
      float: right;
      width: 3rem;
    }
  .menuItems {
    list-style: none;
    display: flex;
    overflow: hidden;
  
    ul{
      display: flex;
      float: right;
    }
  
  
    li {
      float: left;
      text-align: center;
      margin: 1rem 2.5rem 1rem 2.5rem;
      padding: 0.3rem ;
  
  
      a {
        text-decoration: none;
        color: #473056;
        font-size: 27px;
        font-weight: 800;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: lowercase;
  
        &::before {
          content: attr(data-item);
          transition: 0.8s;
          color: #8ddb9a;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }
  
        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
  }

html{
    scroll-behavior: smooth;
}

main{
    display: grid;
    place-items: center;
    align-content: center;
    margin: 50px;
}

section{

    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}


div{

    max-width: 70rem;
    padding: 2rem;

}

.scroll-watcher{

    position: fixed;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(33, 27, 37);
    padding: 0;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: top;
    z-index: 1000;
    scale: 0 1;

}

@keyframes fade-in {

    to{
        scale: 1;
        opacity: 1;
    }

}

@keyframes scroll-watcher {

    to{
        scale: 1 0;
    }
    from{
        scale: 1 1;
    }

}

.hidden{

    opacity: 0;
    transition: all 3s ease;

}

.show{

    opacity:1;
    
}

.video{
  height: auto;
  border-radius: 10px;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 30px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: none; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10%; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #b9a2c9; 
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.footer-menu{
  background: #f4f6f6;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 5rem;

  .footer-MenuItems {
      list-style: none;
      overflow: hidden;
}
ul{
  display: flex;
  float: right;
}
li{
  padding: 0rem 1rem 0rem 1rem;
}
a{
  text-decoration: none;
  color: #6e4869;
}
a:hover{
  color: #e19ff8;
}
}

footer p{
  float: left;
}
