body{

    background-color: #f4f6f6;
    font-family: monospace;
    color: rgb(33, 43, 50);
    padding: 0;
    margin: 0;

}

nav {
  background: #f4f6f6;
  .logo{
      display:flex;
      float: right;
      justify-content: center;
      width: 3rem;
    }
  .menuItems {
    list-style: none;
    display: flex;
    overflow: hidden;

    ul{
      display: flex;
      float: right;
    }


    li {
      float: left;
      text-align: center;
      margin: 1rem 2.5rem 1rem 2.5rem;
      padding: 0.3rem ;


      a {
        text-decoration: none;
        color: #6e4869;
        font-size: 24px;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #e19ff8;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}


main{
    display: grid;
    place-items: center;
    align-content: center;
}

section{

    display: grid;
    align-content: center;
    min-height: 100vh;

}



div{

    max-width: 70rem;
    padding: 2rem;

}

.scroll-watcher{

    position: fixed;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(194, 175, 212);
    padding: 0;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: top;
    z-index: 1000;
    scale: 0 1;

}

@keyframes fade-in {

    to{
        scale: 1;
        opacity: 1;
    }

}

@keyframes scroll-watcher {

    to{
        scale: 1 0;
    }
    from{
        scale: 1 1;
    }

}

.hidden{

    opacity: 0;
    transition: all 3s ease;

}

.show{

    opacity:1;
    
}

img{
  width: 100%;
}

footer{
  align-items: end;
}

