body{

  background-color: #f4f6f6;
  font-family: monospace;
  color: rgb(49, 64, 74);
  padding: 0;
  margin: 0;

}

nav {
  display: flex;
  background: #f4f6f6;
  justify-content: center;
  .logo{
      display:flex;
      float: right;
      width: 3rem;
    }
  .menuItems {
    list-style: none;
    display: flex;
    overflow: hidden;
  
    ul{
      display: flex;
      float: right;
    }
  
  
    li {
      float: left;
      text-align: center;
      margin: 1rem 2.5rem 1rem 2.5rem;
      padding: 0.3rem ;
  
  
      a {
        text-decoration: none;
        color: #6e4869;
        font-size: 24px;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;
  
        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #e19ff8;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }
  
        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
  }


main{
    display: grid;
    place-items: center;
    align-content: center;
}

section{

    display: grid;
    align-content: center;
    min-height: 100vh;

}



div{

    max-width: 70rem;
    padding: 2rem;

}

.scroll-watcher{

    position: fixed;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(194, 175, 212);
    padding: 0;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: top;
    z-index: 1000;
    scale: 0 1;

}

@keyframes fade-in {

    to{
        scale: 1;
        opacity: 1;
    }

}

@keyframes scroll-watcher {

    to{
        scale: 1 0;
    }
    from{
        scale: 1 1;
    }

}

.hidden{

    opacity: 0;
    transition: all 3s ease;

}

.show{

    opacity:1;
    
}

img{
  width: 100%;
  vertical-align: center;
}

* 

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-sizing: border-box
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


footer{
  align-items: end;
}

