body{

  background-color: #f4f6f6;
  font-family: monospace;
  color: rgb(49, 64, 74);
  padding: 0;
  margin: 0;

}

nav {
  display: flex;
  background: #f4f6f6;
  justify-content: center;
  .logo{
      display:flex;
      float: right;
      width: 3rem;
    }
  .menuItems {
    list-style: none;
    display: flex;
    overflow: hidden;
  
    ul{
      display: flex;
      float: right;
    }
  
  
    li {
      float: left;
      text-align: center;
      margin: 1rem 2.5rem 1rem 2.5rem;
      padding: 0.3rem ;
  
  
      a {
        text-decoration: none;
        color: #473056;
        font-size: 24px;
        font-weight: 800;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;
  
        &::before {
          content: attr(data-item);
          transition: 0.8s;
          color: #8ddb9a;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }
  
        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
  }


main{
    display: grid;
    place-items: center;
    align-content: center;
    margin: 50px;
}

section{

    display: grid;
    align-content: center;
    min-height: 100vh;

}



div{

    max-width: 70rem;
    padding: 2rem;

}

.scroll-watcher{

    position: fixed;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(33, 27, 37);
    padding: 0;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: top;
    z-index: 1000;
    scale: 0 1;

}

@keyframes fade-in {

    to{
        scale: 1;
        opacity: 1;
    }

}

@keyframes scroll-watcher {

    to{
        scale: 1 0;
    }
    from{
        scale: 1 1;
    }

}

.hidden{

    opacity: 0;
    transition: all 3s ease;

}

.show{

    opacity:1;
    
}

.content-container_1{

  img{
    display: flex;
    float: left;
    max-width: 60%;
    padding: 1rem;
  }

  h3{
    display: flex;
    float: right;
    padding: 2rem;
    margin: 2rem;
  }

  p{
    font-size: 1.2rem;
  }
  
}

.content-container_2{ 

  img{
    display: flex;
    float: right;
    max-width: 60%;
    padding: 1rem;
  }

  h3{
    display: flex;
    float: left;
    padding: 2rem;
    margin: 2rem;
  }

  p{
    font-size: 1.2rem;
  }
  
}

.content-container_3{

  img{
    display: flex;
    float: left;
    max-width: 60%;
    padding: 1rem;
  }

  h3{
    display: flex;
    float: right;
    padding: 2rem;
    margin: 2rem;
  }

  p{
    font-size: 1.2rem;
  }
  
}

.footer-menu{
  background: #f4f6f6;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 5rem;

  .footer-MenuItems {
      list-style: none;
      overflow: hidden;
}
ul{
  display: flex;
  float: right;
}
li{
  padding: 0rem 1rem 0rem 1rem;
}
a{
  text-decoration: none;
  color: #6e4869;
}
a:hover{
  color: #e19ff8;
}
}

footer p{
  float: left;
}


