body{

  background-color: #f4f6f6;
  font-family: monospace;
  color: rgb(49, 64, 74);
  padding: 0;
  margin: 0;

}

nav {
  display: flex;
  background: #f4f6f6;
  justify-content: center;
  .logo{
      display:flex;
      float: right;
      width: 3rem;
    }
  .menuItems {
    list-style: none;
    display: flex;
    overflow: hidden;

    li {
      text-align: center;
      margin: 1rem 2.5rem 1rem 2.5rem;
      padding: 0.3rem ;
  
  
      a {
        text-decoration: none;
        color: #6e4869;
        font-size: 24px;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;
  
        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #e19ff8;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }
  
        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
  }

main{
    display: grid;
    place-items: center;
    align-content: center;
}

section{

    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}


div{

    max-width: 70rem;
    padding: 2rem;

}

.scroll-watcher{

    position: fixed;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(194, 175, 212);
    padding: 0;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: top;
    z-index: 1000;
    scale: 0 1;

}

@keyframes fade-in {

    to{
        scale: 1;
        opacity: 1;
    }

}

@keyframes scroll-watcher {

    to{
        scale: 1 0;
    }
    from{
        scale: 1 1;
    }

}

.hidden{

    opacity: 0;
    transition: all 3s ease;

}

.show{

    opacity:1;
    
}

main{
    margin: 50px;
}

.card-container{

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  width: 100vw;

  @media screen and (min-width:900px){
      grid-template-columns: repeat(3,1fr);
  }

  .card{

      position: relative;
      padding: 1rem;
      min-height: 30rem;
      display: flex;
      align-items: flex-end;
      border-radius: 0.1rem;
      overflow: hidden;

      &::before{

          content: "";
          background-color: rgba(147, 234, 235, 0.3);
          position: absolute;
          height: 100%;
          width: 100%;
          inset: 0;
          z-index: -1;
          transition: background-color 350ms ease-out, backdrop-filter 150ms ease-out;
          backdrop-filter: blur(0rem);
          -webkit-backdrop-filter: blur(0rem);

      }

      img{

          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          object-fit: cover;
          z-index: -2;
          transition: all 250ms ease-in-out;

      }

      h3,
      .card__heading{

          transform: translateY(3rem);
          /*display:none*/
          opacity: 0;
          transition: transform 250ms ease-out, opacity 350ms ease-out;

      }

      .card__description{

          transform: translateY(3rem);
          /*display:none*/
          opacity: 0;
          transition: transform 250ms ease-out, opacity 350ms ease-out;

      }
      
      &:hover{

          h3,

          .card__heading{

              transform: translateY(0rem);
              opacity: 1;
              display: block;

          }

          
          .card__description{
              
              transform: translateY(0rem);
              opacity: 1;
              display: block;
              transition: all 250ms ease-in-out;

          }

          img{

              transform: scale(110%) rotate(1deg);
              transition: all 250ms ease-in-out;
              
          }

          &::before{

              background-color: rgba(144, 214, 158, 0.8);

          }

          &.blue:hover::before{

              background-color: rgba(127, 192, 211, 0.8);

          }

          &.purple:hover::before{

              background-color: rgba(215, 154, 232, 0.8);

          }

          &.red:hover::before{

              background-color: rgba(66, 102, 72, 0.8);
              
          }
      }

  }
}

.footer-menu{
    background: #f4f6f6;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 5px;

    .footer-MenuItems {
        list-style: none;
        overflow: hidden;
    }
    ul{
        display: flex;
        float: right;
    }
    li{
        padding: 0rem 1rem 0rem 1rem;
    }
    a{
        text-decoration: none;
        color: #6e4869;
    }
    a:hover{
        color: #e19ff8;
    }
}

footer p{
    float: left;
}
