
body{

    background-color: rgb(212, 255, 224);
    font-family: monospace;
    color: rgb(33, 43, 50);
    padding: 0;
    margin: 0;

}

nav {
    background: #f9f9f9;
    .menuItems {
      list-style: none;
      display: block;
      overflow: hidden;

  
      li {
        float: left;
        text-align: center;
        margin: 0rem 3rem 0rem 3rem;
        padding: 0.2rem;

  
        a {
          text-decoration: none;
          color: #8f8f8f;
          font-size: 24px;
          font-weight: 600;
          transition: all 0.5s ease-in-out;
          position: relative;
          text-transform: uppercase;
  
          &::before {
            content: attr(data-item);
            transition: 0.5s;
            color: #2b6b51;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
  
          &:hover {
            &::before {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }

main{
    display: grid;
    place-items: center;
    align-content: center;
}

section{

    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}


div{

    max-width: 70rem;
    padding: 2rem;

}

.scroll-watcher{

    position: fixed;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(194, 175, 212);
    padding: 0;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: top;
    z-index: 1000;
    scale: 0 1;

}

@keyframes fade-in {

    to{
        scale: 1;
        opacity: 1;
    }

}

@keyframes scroll-watcher {

    to{
        scale: 1 0;
    }
    from{
        scale: 1 1;
    }

}

.hidden{

    opacity: 0;
    transition: all 3s ease;

}

.show{

    opacity:1;
    
}

.card-container{

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    width: 100vw;

    @media screen and (min-width:900px){
        grid-template-columns: repeat(3,1fr);
    }

    .card{

        position: relative;
        padding: 1rem;
        min-height: 30rem;
        display: flex;
        align-items: flex-end;
        border-radius: 0.1rem;
        overflow: hidden;

        &::before{

            content: "";
            background-color: rgba(147, 234, 235, 0.3);
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0;
            z-index: -1;
            transition: background-color 350ms ease-out, backdrop-filter 150ms ease-out;
            backdrop-filter: blur(0rem);
            -webkit-backdrop-filter: blur(0rem);

        }

        img{

            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            object-fit: cover;
            z-index: -2;
            transition: all 250ms ease-in-out;

        }

        h3,
        .card__heading{

            transform: translateY(3rem);
            /*display:none*/
            opacity: 0;
            transition: transform 250ms ease-out, opacity 350ms ease-out;

        }

        .card__description{

            transform: translateY(3rem);
            /*display:none*/
            opacity: 0;
            transition: transform 250ms ease-out, opacity 350ms ease-out;

        }
        
        &:hover{

            h3,

            .card__heading{

                transform: translateY(0rem);
                opacity: 1;
                display: block;

            }

            
            .card__description{
                
                transform: translateY(0rem);
                opacity: 1;
                display: block;
                transition: all 250ms ease-in-out;

            }

            img{

                transform: scale(110%) rotate(1deg);
                transition: all 250ms ease-in-out;
                
            }

            &::before{

                background-color: rgba(255, 186, 186, 0.8);

            }

            &.blue:hover::before{

                background-color: rgba(210, 210, 255, 0.8);

            }

            &.purple:hover::before{

                background-color: rgba(235, 193, 247, 0.8);

            }

            &.red:hover::before{

                background-color: rgba(222, 124, 107, 0.8);
                
            }
        }

    }
}

.form-text{
    font-size: 2rem;
    padding: 1rem;
    display: block;
    position: left;
    z-index: -4;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
